:root {
  --main-color: rgba(43, 64, 116, 1);
  --secondary-color: rgba(255, 255, 255, 1);
  --main-color-hover: rgba(23, 44, 96, 1);
  --tertiary-color: rgba(249, 246, 229, 1);
  --tertiary-color-hover: rgba(219, 216, 199, 1);
  --border-color-light: rgba(126, 191, 132, 1);
  --border-color-dark: rgba(71, 110, 77, 1);
  --graphite-color: rgba(74, 74, 74, 1);
  --graphite-light-color: rgba(121, 121, 121, 1);

  --main-border-radius: 4px;
  --secondary-border-radius: 3px;
  --circle-border-radius: 50%;
  --special-border-radius: 0 0 4px 4px;

  --main-font-family: Roboto;
  --secondary-font-family: Roboto Condensed;
  --tertiary-font-family: Dosis;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
}
hr {
  margin: 0;
  border: none;
  width: 100px;
  height: 8px;
  position: relative;
}
.button {
  display: inline-block;
  border: none;
  border-radius: var(--secondary-border-radius);
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: var(--main-font-family), sans-serif;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  white-space: pre;
}

/*  Block 1*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: var(--main-color);
}
.di_gi img {
  margin-left: 153px;
  height: 66px;
}
.menu_button {
  margin-right: 135px;
  width: 40px;
  height: 40px;
  border-radius: var(--secondary-border-radius);
  background-color: var(--secondary-color);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu_button img {
  width: 13px;
  height: 14px;
}

@media only screen and (max-width: 1439px) {
  .di_gi img {
    margin-left: 46px;
  }
  .menu_button {
    margin-right: 30px;
  }
}

@media only screen and (max-width: 639px) {
  .header {
    height: 80px;
  }
  .di_gi img {
    margin-left: 25px;
  }
  .menu_button {
    margin-right: 20px;
  }
}

/*  Block 2*/
.intro {
  width: 100%;
  height: 668px;
  background-image:
    url("../images/rectangle_248.png"),
    url("../images/bg-img.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}
.title-text {
  margin-top: 107px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: var(--secondary-font-family), sans-serif;
}
.title-text h2 {
  margin: 0;
  font-size: 96px;
  font-weight: 400;
  line-height: 96px;
  letter-spacing: 2px;
  color: var(--secondary-color);
  text-transform: uppercase;
}
.title-text p {
  margin: 30px 0 24px 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  color: var(--secondary-color);
}
.intro hr {
  opacity: 0;
}
.button--more_detail {
  padding: 16px 42px;
  background-color: var(--main-color);
  color: var(--tertiary-color);
  font-weight: 400;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.button--more_detail:hover {
  background-color: var(--main-color-hover);
}
.roundabout {
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 10%;
  height: 100%;
  position: absolute;
  right: 0;
  top: calc(50%);
  transform: translateY(-50%);
}
.roundabout_left,
.roundabout_right {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}
.roundabout_left {
  background-color: var(--main-color);
}
.roundabout_left:hover {
  background-color: var(--main-color-hover);
}
.roundabout_right {
  background-color: var(--tertiary-color);
}
.roundabout_right:hover {
  background-color: var(--tertiary-color-hover);
}
.pagination_one {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 118px;
}
.pagination_one .circle {
  z-index: 10;
  width: 10px;
  height: 10px;
  border-radius: var(--circle-border-radius);
  cursor: pointer;
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}
.pagination_one .circle.active {
  background-color: transparent;
  border: 1px solid var(--secondary-color);
}

@media only screen and (max-width: 1439px) {
  .intro {
    height: 618px;
  }
  .title-text {
    margin-top: 101px;
  }
  .title-text h2 {
    font-size: 84px;
    line-height: 84px;
  }
  .title-text p {
    font-size: 18px;
    line-height: 20px;
  }
  .roundabout_left,
  .roundabout_right {
    width: 56px;
    height: 56px;
  }
  .pagination_one {
    margin-top: 100px;
  }
  .circle {
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
  }
  .circle.active {
    border: 1px solid var(--border-color-dark);
  }
}

@media only screen and (max-width: 1023px) {
  .intro {
    height: 465px;
  }
  .title-text {
    margin-top: 80px;
  }
  .title-text h2 {
    font-size: 60px;
    line-height: 60px;
    letter-spacing: 0;
  }
  .title-text p {
    font-size: 18px;
    line-height: 20px;
  }
  .pagination_one {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 767px) {
  .intro {
    width: 100%;
    height: 386px;
  }
  .title-text {
    margin-top: 50px;
  }
  .title-text h2 {
    font-size: 60px;
    line-height: 60px;
    letter-spacing: 0;
  }
  .title-text p {
    display: none;
  }
  .intro hr {
    margin-top: 7px;
    width: 61px;
    background-color: var(--graphite-color);
    opacity: 1;
  }
  .button--more_detail {
    margin-top: 30px;
  }
  .pagination_one {
    margin-top: 53px;
  }
}

@media only screen and (max-width: 639px) {
  .intro {
    height: 193px;
  }
  .title-text {
    margin-top: 36px;
  }
  .title-text h2 {
    font-size: 28px;
    line-height: 28px;
    letter-spacing: 0;
  }
  .title-text p {
    display: none;
  }
  .intro hr {
    width: 61px;
    background-color: var(--graphite-color);
    margin-top: 20px;
    opacity: 1;
  }
  .button--more_detail {
    display: none;
  }
  .roundabout {
    display: none;
  }
  .pagination_one {
    margin-top: 35px;
  }
}

/*  Block 3*/
.promo {
  width: 100%;
  height: 192px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-color);
}
.text {
  margin-left: 150px;
  text-align: left;
  color: var(--secondary-color);
}
.text h2 {
  margin: 0;
  font-family: var(--main-font-family), sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}
.text p {
  font-family: var(--tertiary-font-family), sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 18px;
}
.button--call_back {
  margin-right: 135px;
  padding: 16px 9px;
  background-color: var(--tertiary-color);
  color: var(--main-color);
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.button--call_back:hover {
  background-color: var(--tertiary-color-hover);
}

@media only screen and (max-width: 1439px) {
  .promo {
    height: 160px;
  }
  .text {
    margin-left: 46px;
  }
  .text h2 {
    font-size: 18px;
    line-height: 18px;
  }
  .text p {
    font-size: 14px;
    line-height: 16px;
  }
  .button--call_back {
    margin-right: 43px;
  }
}

@media only screen and (max-width: 1023px) {
  .promo {
    height: 187px;
  }
  .text {
    margin-left: 46px;
    margin-top: 40px;
  }
  .text h2 {
    font-size: 24px;
    line-height: 24px;
  }
  .text p {
    margin-top: 37px;
    font-size: 16px;
    line-height: 18px;
  }
  .button--call_back {
    margin-right: 42px;
  }
}

@media only screen and (max-width: 767px) {
  .promo {
    height: 254px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .text {
    text-align: center;
    margin: 0;
    width: 580px;
  }
  .text h2 {
    font-size: 24px;
    line-height: 24px;
  }
  .text p {
    margin-top: 15px;
    font-size: 16px;
    line-height: 18px;
  }
  .button--call_back {
    margin: 25px 0 0 0;
  }
}

@media only screen and (max-width: 639px) {
  .promo {
    height: 301px;
  }
  .text {
    width: 260px;
  }
  .text h2 {
    font-size: 24px;
    line-height: 24px;
  }
  .text p {
    font-size: 16px;
    line-height: 18px;
  }
}

/*  Block 4*/
.services {
  width: 100%;
  height: 547px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 480px repeat(4, 1fr);
  background-color: var(--secondary-color);
}
.service {
  grid-row: 1 / span 2;
  grid-column: 1;
  border-right: 1px solid var(--tertiary-color);
  text-align: left;
}
.service h1 {
  margin-top: 90px;
  margin-left: 62px;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  font-family: var(--secondary-font-family), sans-serif;
  color: var(--main-color);
}
.service h2 {
  width: 393px;
  height: 60px;
  margin-top: 76px;
  margin-left: 62px;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  font-family: var(--main-font-family), sans-serif;
  color: var(--graphite-color);
}
.service hr {
  background-color: var(--main-color);
  margin-top: 21px;
  margin-left: 62px;
}
.service p {
  width: 351px;
  height: 68px;
  margin-top: 35px;
  margin-left: 62px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  font-family: var(--main-font-family), sans-serif;
  color: var(--graphite-light-color);
}
.items {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.items img {
  transition: transform 0.3s ease;
  width: 64px;
  height: 64px;
  transform: translateY(80px);
}
.items h2 {
  font-family: var(--secondary-font-family), sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 2px;
  color: var(--graphite-color);
  transform: translateY(80px);
  transition: transform 0.3s ease;
}
.strategy,
.analytics,
.social_media,
.development {
  border-right: 1px solid var(--tertiary-color);
  border-bottom: 1px solid var(--tertiary-color);
}
.content_production,
.design,
.digital_advertising,
.products {
  border-right: 1px solid var(--tertiary-color);
}
.description {
  font-family: var(--main-font-family), sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  color: rgba(155, 155, 155, 1);
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.3s ease;
}
.digital_advertising .description {
  transform: translateY(30px);
}
.more_detail {
  margin: 0;
  font-family: var(--secondary-font-family), sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 2px;
  text-align: center;
  color: var(--main-color);
  text-decoration: none;
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.3s ease;
}
.digital_advertising .more_detail {
  transform: translateY(30px);
}
.items:hover img, .items:hover h2 {
  transform: translateY(40px);
}
.items:hover {
  outline: 4px solid var(--main-color);
  outline-offset: -15px; /
}
.items:hover .description,
.items:hover .more_detail {
  opacity: 1;
}

@media only screen and (max-width: 1439px) {
  .services {
    height: 912px;
    grid-template-rows: 362px repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
  }
  .service {
    grid-row: 1;
    grid-column: 1 / span 4;
    border-bottom: 1px solid var(--tertiary-color);
    border-right: none;
  }
  .service h1 {
    margin-top: 52px;
    margin-left: 0;
    text-align: center;
  }
  .service h2 {
    width: 856px;
    height: 30px;
    margin-top: 61px;
    margin-left: 46px;
  }
  .service hr {
    margin-top: 38px;
    margin-left: 46px;
  }
  .service p {
    width: 510px;
    height: 55px;
    margin-top: 34px;
    margin-left: 46px;
  }
  .development,
  .products {
    border-right: none;
  }
}

@media only screen and (max-width: 1023px) {
  .services {
    height: 1655px;
    grid-template-rows: 306px repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
  .service {
    grid-row: 1;
    grid-column: 1 / span 2;
    border-bottom: none;
    border-right: none;
  }
  .service h1 {
    margin-top: 42px;
    margin-left: 0;
    text-align: center;
  }
  .service h2 {
    width: 689px;
    height: 27px;
    margin-top: 35px;
    margin-left: 46px;
  }
  .service hr {
    margin-top: 30px;
    margin-left: 46px;
  }
  .service p {
    height: 48px;
    margin-top: 30px;
    margin-left: 46px;
  }
  .digital_advertising {
    border-top: 1px solid var(--tertiary-color);
  }
  .strategy {
    border-top: 1px solid var(--tertiary-color);
  }
  .social_media,
  .development,
  .content_production,
  .design {
    border-top: none;
  }
  .analytics,
  .products {
    border-top: 1px solid var(--tertiary-color);
    border-right: none;
  }
  .design {
    border-right: none;
  }
  .items h2 {
    transform: translateY(110px);
  }
  .items img {
    transform: translateY(110px);
  }
  .description {
    width: 350px;
    transform: translateY(80px);
  }
  .digital_advertising .description {
    transform: translateY(60px);
  }
  .more_detail {
    transform: translateY(90px);
  }
  .digital_advertising .more_detail {
    transform: translateY(70px);
  }
  .items:hover img, .items:hover h2 {
    transform: translateY(60px);
  }
}

@media only screen and (max-width: 767px) {
  .services {
    height: 1551px;
  }
  .service h1 {
    margin-top: 18px;
    text-align: center;
  }
  .service h2 {
    width: 559px;
    height: 50px;
    margin: 30px auto;
    text-align: center;
  }
  .service hr {
    margin: 0 auto;
  }
  .service p {
    text-align: center;
    margin: 30px auto;
  }
  .items h2 {
    transform: translateY(95px);
  }
  .items img {
    transform: translateY(95px);
  }
  .description {
    width: 300px;
    transform: translateY(70px);
  }
  .digital_advertising .description {
    transform: translateY(60px);
  }
  .more_detail {
    transform: translateY(80px);
  }
  .digital_advertising .more_detail {
    transform: translateY(62px);
  }
  .items:hover img, .items:hover h2 {
    transform: translateY(50px);
  }
}

@media only screen and (max-width: 639px) {
  .services {
    height: 2799px;
    top: 574px;
    display: grid;
    grid-template-rows: 311px repeat(8, 1fr);
    grid-template-columns: calc(100% - 40px);
    justify-content: center;
  }
  .service {
    grid-row: 1;
    grid-column: 1 / span 1;
  }
  .service h1 {
    margin-top: 25px;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 2px;
  }
  .service h2 {
    width: 280px;
    height: 62px;
    margin-top: 80px;
    font-size: 20px;
    line-height: 24px;
  }
  .service hr {
    margin-top: -146px;
  }
  .service p {
    width: 280px;
    height: 72px;
    margin-top: 135px;
    font-size: 15px;
    line-height: 17px;
  }
  .items {
    border-left: 1px solid var(--tertiary-color);
  }
  .products, .content_production {
    border-bottom: 1px solid var(--tertiary-color);
  }
  .analytics, .development, .design, .products {
    border-right: 1px solid var(--tertiary-color);
  }
  .strategy {
    border-bottom: none;
  }
}

/*  Block 5*/
.recent_work {
  width: 100%;
  height: 618px;
  background: linear-gradient(180deg, #2B4074 0%, rgba(43, 64, 116, 0) 100%);
}
.recent_work_title h2 {
  margin: 80px 0 0 0;
  font-family: var(--secondary-font-family), sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  text-transform: capitalize;
  text-align: center;
  color: var(--secondary-color);
}
.recent_work_title hr {
  margin: 24px auto auto auto;
  background-color: var(--secondary-color);
}
.content {
  display: grid;
  grid-template-columns: repeat(4, 292px);
  justify-content: center;
}
.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.projects {
  margin: 80px 12px 0 12px;
  position: relative;
}
.projects img {
  border-radius: var(--main-border-radius);
}
.titles {
  width: 268px;
  text-align: center;
  margin-top: -16px;
}
.titles h2 {
  color: var(--main-color);
  font-family: var(--secondary-font-family), sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 2px;
}
.invisible {
  opacity: 0;
  transition: all 0.3s ease;
}
.info-bg {
  border-radius: var(--main-border-radius);
  margin: 0 12px;
  position: absolute;
  top: 12px;
}
.icons {
  position: relative;
  top: -135px;
}
.icons img {
  margin: 0 8px;
  cursor: pointer;
}
.projects:hover .invisible {
  opacity: 1;
}

@media only screen and (max-width: 1439px) {
  .recent_work {
    height: 1033px;
  }
  .content {
    grid-template-rows: repeat(2, 361px);
    grid-template-columns: repeat(2, 342px);
  }
  .projects img {
    width: 318px;
    height: 283px;
  }
  .titles {
    margin-top: -20px;
    width: 318px;
  }
  .invisible img {
    width: 294px;
    height: 259px;
  }
  .icons img {
    height: auto;
    width: auto;
  }
  .icons {
    top: -158px;
  }
}

@media only screen and (max-width: 1023px) {
  .recent_work {
    height: 1033px;
  }
  .titles h2 {
    font-size: 20px;
    line-height: 23px;
  }
  .titles {
    margin-top: -26px;
  }
}

@media only screen and (max-width: 767px) {
  .recent_work {
    height: 2288px;
  }
  .recent_work_title h2 {
    margin-top: 40px;
  }
  .recent_work_title hr {
    margin-top: 28px;
  }
  .content {
    grid-template-rows: repeat(4, 532px);
    grid-template-columns: 518px;
  }
  .projects {
    margin: 50px 0 0 0;
  }
  .projects img {
    width: 518px;
    height: 460px;
  }
  .titles {
    top: -28px;
    width: 318px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  .invisible img {
    width: 486px;
    height: 428px;
  }
  .info-bg {
    position: absolute;
    top: 16px;
  }
  .invisible {
    display: flex;
    justify-content: center;
  }
  .icons img {
    margin: 0 14px;
    height: 54px;
    width: 54px;
  }
  .icons {
    top: -255px;
  }
}

@media only screen and (max-width: 639px) {
  .recent_work {
    height: 1384px;
  }
  .recent_work_title h2 {
    font-size: 24px;
    line-height: 28px;
    margin-top: 25px;
  }
  .recent_work_title hr {
    width: 50px;
    height: 8px;
    margin-top: 20px;
  }
  .content {
    grid-template-rows: repeat(4, 310px);
    grid-template-columns: 280px;
  }
  .projects {
    margin: 41px 0 0 0;
  }
  .projects img {
    width: 280px;
    height: 250px;
  }
  .titles {
    top: -10px;
    width: 318px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  .invisible img {
    width: 254px;
    height: 224px;
  }
  .info-bg {
    position: absolute;
    top: 13px;
  }
  .invisible {
    display: flex;
    justify-content: center;
  }
  .icons img {
    margin: 0 8px;
    height: auto;
    width: auto;
  }
  .icons {
    top: -140px;
  }
}

/*  Block 6*/
.video_block {
  width: 100%;
  height: 580px;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
}
.content_section {
  display: grid;
  grid-template-columns: 40% 60%;
}
.foto_section, .text-section {
  transform: translateY(60px);
  height: 420px;
}
.foto_section img {
  border-radius: var(--main-border-radius);
  transform: translateX(150px);
  bottom: 0;
}
.text-section h2 {
  margin: 0 0 0 124px;
  font-family: var(--secondary-font-family), sans-serif;
  color: var(--graphite-color);
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
}
.text-section hr {
  background-color: var(--main-color);
  margin: 30px 0 0 124px;
}
.text-section p {
  width: 500px;
  margin: 32px 0 0 124px;
  font-family: var(--main-font-family), sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(155, 155, 155, 1);
}
.button--watch_video_1 {
  padding: 21px 35px;
  background-color: var(--main-color);
  color: var(--tertiary-color);
  font-weight: 500;
  position: absolute;
  bottom: 0;
  margin-left: 124px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.button--watch_video_1:hover {
  background-color: var(--main-color-hover);
}
.button--watch_video_2 {
  opacity: 0;
}

@media only screen and (max-width: 1439px) {
  .video_block {
    height: 540px;
  }
  .content_section {
    grid-template-columns: 45% 55%;
  }
  .foto_section, .text-section {
    transform: translateY(80px);
    height: 380px;
    padding-left: 0;
  }
  .foto_section img {
    border-radius: var(--main-border-radius);
    width: 400px;
    height: 380px;
    transform: translateX(40px);
    bottom: 0;
  }
  .text-section h2 {
    margin: 0 0 0 40px;
  }
  .text-section hr {
    margin: 15px 0 0 40px;
  }
  .text-section p {
    margin: 19px 0 0 40px;
  }
  .button--watch_video_1 {
    margin-left: 40px;
    bottom: 8px;
  }
}

@media only screen and (max-width: 1023px) {
  .video_block {
    height: 479px;
  }
  .content_section {
    grid-template-columns: 35% 65%;
    grid-template-rows: 370px;
  }
  .foto_section, .text-section {
    transform: translateY(40px);
    height: 431px;
  }
  .foto_section img {
    width: 240px;
    height: 227px;
    border-radius: var(--main-border-radius);
    transform: translateX(46px);
    bottom: 0;
  }
  .text-section h2 {
    margin: 0 0 0 50px;
    font-size: 36px;
    line-height: 38px;
  }
  .text-section hr {
    margin: 20px 0 0 50px;
  }
  .text-section p {
    font-size: 16px;
    width: 410px;
    margin: 28px 0 0 50px;
  }
  .button--watch_video_1 {
    opacity: 0;
  }
  .button_section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .button--watch_video_2 {
    opacity: 1;
    padding: 21px 35px;
    background-color: var(--main-color);
    color: var(--tertiary-color);
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }
  .button--watch_video_2:hover {
    background-color: var(--main-color-hover);
  }
}

@media only screen and (max-width: 767px) {
  .video_block {
    height: 1007px;
  }
  .content_section {
    display: flex;
    flex-direction: column;
  }
  .text-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .foto_section {
    height: 490px;
    display: flex;
    justify-content: center;
  }
  .foto_section img {
    transform: translateX(calc(50% - 259px));
    width: 518px;
    height: 490px;
  }
  .text-section h2 {
    margin-left: 0;
    width: 560px;
    text-align: center;
    margin-top: 40px;
  }
  .text-section hr {
    margin-left: 0;
    margin-top: 20px;
  }
  .text-section p {
    margin-left: 0;
    text-align: center;
    font-size: 16px;
    line-height: 18px;
    width: 460px;
    margin-top: 40px;
  }
  .button--watch_video_2 {
    opacity: 0;
  }
  .button--watch_video_1 {
    opacity: 1;
    margin-left: 0;
  }
}

@media only screen and (max-width: 639px) {
  .video_block {
    height: 844px;
  }
  .content_section {
    display: flex;
    flex-direction: column;
  }
  .text-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .foto_section {
    height: 250px;
    display: flex;
    justify-content: center;
  }
  .foto_section img {
    margin-top: 0;
    width: 280px;
    height: 250px;
    transform: translateX(calc(50% - 140px));
  }
  .text-section h2 {
    margin-left: 0;
    width: 280px;
    text-align: center;
    margin-top: 35px;
    font-size: 24px;
  }
  .text-section hr {
    width: 45px;
    margin-left: 0;
    margin-top: 20px;
  }
  .text-section p {
    margin-left: 0;
    text-align: center;
    font-size: 16px;
    line-height: 18px;
    width: 270px;
    margin-top: 40px;
  }
  .button--watch_video_2 {
    opacity: 1;
    margin-left: 0;
    margin-top: 60px;
  }
  .button--watch_video_1 {
    opacity: 0;
  }
}

/*  Block 7*/
.latest_news {
  width: 100%;
  height: 1044px;
  background-color: var(--tertiary-color);
}
.latest_news_title h2 {
  font-family: var(--secondary-font-family), sans-serif;
  color: var(--graphite-color);
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  text-align: center;
  text-transform: capitalize;
  margin-top: 56px;
  margin-bottom: 0;
}
.latest_news_title hr {
  background-color: var(--main-color);
  margin: 26px auto auto auto;
}
.latest_news_content {
  margin-top: 100px;
  display: grid;
  grid-template-rows: repeat(2, 385px);
  grid-template-columns: repeat(4, 298px);
  justify-content: center;
}
.news_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.news {
  position: relative;
  display: inline-block;
}
.news-5 {
  top: 75px;
}
.news-6 {
  top: -15px;
}
.news-7 {
  top: 29px;
}
.news-8 {
  top: -131px;
}
.news img {
  display: block;
  width: 270px;
  height: auto;
  border-radius: var(--main-border-radius);
}
.news::before {
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: var(--secondary-font-family), sans-serif;
  width: calc(100% - 20px);
  background-color: var(--secondary-color);
  color: var(--graphite-color);
  padding: 10px 0 10px 20px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  z-index: 1;
  transition: all 0.3s ease;
  border-radius: var(--special-border-radius);
}
.news-1::before {
  content: "3Д в брендингу";
}
.news-2::before {
  content: "Контекстна реклама";
}
.news-3::before {
  content: "Графіка";
}
.news-4::before {
  content: "Корпоративна культура";
}
.news-5::before {
  content: "Унікальний дизайн";
}
.news-6::before {
  content: "Погляд зі сторони";
}
.news-7::before {
  content: "Соц мережі та їх користь";
}
.news-8::before {
  content: "Ексклюзивність";
}
.news:hover::before {
  bottom: 30px;
  background-color: var(--main-color);
  color: var(--secondary-color);
}
.news:hover {
  outline: 10px solid var(--main-color);
  outline-offset: -10px;
  border-radius: var(--special-border-radius);
}
.icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  cursor: pointer;
  transition: all 0.3s ease;
}
.icon img {
  cursor: pointer;
  width: 100%;
}
.news:hover .icon {
  opacity: 1;
}

@media only screen and (max-width: 1439px) {
  .latest_news {
    height: 1368px;
  }
  .latest_news_content {
    display: grid;
    grid-template-rows: repeat(3, 346px);
    grid-template-columns: repeat(3, 326px);
  }
  .news::before {
    font-size: 18px;
  }
  .news {
    position: relative;
  }
  .news-4 {
    top: 115px;
  }
  .news-5 {
    top: 27px;
  }
  .news-6 {
    top: 73px;
  }
  .news-7 {
    top: 26px;
  }
  .news-8 {
    top: -120px;
  }
}

@media only screen and (max-width: 1023px) {
  .latest_news {
    height: 1745px;
  }
  .latest_news_title h2 {
    font-size: 36px;
    font-weight: 400;
    line-height: 38px;
  }
  .latest_news_title hr {
    margin-top: 30px;
  }
  .latest_news_content {
    margin-top: 50px;
    display: grid;
    grid-template-rows: repeat(5, 377px);
    grid-template-columns: repeat(2, 298px);
  }
  .news::before {
    font-size: 18px;
  }
  .news {
    position: relative;
  }
  .news-3 {
    top: 85px;
  }
  .news-4 {
    top: -5px;
  }
  .news-5 {
    top: 125px;
  }
  .news-6 {
    top: -124px;
  }
  .news-7 {
    top: -55px;
  }
  .news-8 {
    top: -130px;
  }
}

@media only screen and (max-width: 767px) {
  .latest_news {
    height: 1745px;
  }
  .latest_news_title h2 {
    font-size: 48px;
    margin-top: 50px;
  }
  .latest_news_title hr {
    margin-top: 20px;
  }
  .latest_news_content {
    margin-top: 60px;
  }
  .news::before {
    font-size: 18px;
  }
}

@media only screen and (max-width: 639px) {
  .latest_news {
    height: 2896px;
    width: 320px;
  }
  .latest_news_title h2 {
    font-size: 24px;
    margin-top: 40px;
  }
  .latest_news_title hr {
    margin-top: 20px;
    width: 50px;
  }
  .latest_news_content {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
  }
  .news::before {
    font-size: 18px;
  }
  .news-2 {
    margin-top: 20px;
  }
  .news-3 {
    margin-top: -65px;
  }
  .news-4 {
    margin-top: 110px;
  }
  .news-5 {
    margin-top: -110px;
  }
  .news-6 {
    margin-top: 270px;
  }
  .news-7 {
    margin-top: -50px;
  }
  .news-8 {
    margin-top: 95px;
  }
}

/*  Block 8*/
.testimonial {
  width: 100%;
  height: 480px;
  background-color: var(--secondary-color);
}
.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.testimonial img {
  margin-top: 100px;
  margin-left: calc(50% - 16px);
}
.quote p {
  font-family: var(--secondary-font-family), sans-serif;
  color: var(--graphite-color);
  font-size: 36px;
  font-weight: 400;
  line-height: 42px;
  margin: 50px 0 0 0;
}
.highlight_world {
  font-weight: 700;
  color: var(--main-color);
}
.quote h3 {
  font-family: var(--secondary-font-family), sans-serif;
  color: var(--graphite-color);
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 2px;
  margin: 30px 0 0 0;
}
.pagination_two {
  width: 50px;
  height: 10px;
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  margin-left: calc(50% - 25px);
}
.circle1 {
  width: 10px;
  height: 10px;
  border-radius: var(--circle-border-radius);
  cursor: pointer;
  background-color: var(--main-color);
  border: 1px solid var(--border-color-dark);
}
.circle1.active {
  background-color: transparent;
  border: 1px solid var(--border-color-dark);
}

@media only screen and (max-width: 1439px) {
  .testimonial p {
    font-size: 32px;
    line-height: 37px;
  }
  .testimonial h3 {
    font-size: 20px;
    line-height: 28px;
  }
}

@media only screen and (max-width: 1023px) {
  .testimonial {
    height: 410px;
  }
  .testimonial img {
    margin-top: 60px;
  }
  .testimonial p {
    margin-top: 90px;
  }
  .testimonial h3 {
    line-height: 23px;
    margin-top: 40px;
  }
  .pagination_two {
    margin-top: 40px;
  }
}

@media only screen and (max-width: 767px) {
  .testimonial {
    height: 410px;
  }
  .testimonial img {
    margin-top: 60px;
  }
  .testimonial h3 {
    margin-top: 40px;
  }
  .testimonial p {
    margin-top: 30px;
    font-size: 32px;
    line-height: 37px;
    width: 340px;
  }
  .pagination_two {
    margin-top: 40px;
  }
}

@media only screen and (max-width: 639px) {
  .testimonial {
    height: 461px;
  }
  .testimonial img {
    margin-top: 50px;
  }
  .testimonial p {
    font-size: 24px;
    line-height: 28px;
    margin-top: 68px;
    width: 300px;
  }
  .testimonial h3 {
    margin-top: 90px;
  }
  .pagination_two {
    margin-top: 45px;
  }
}

/*  Block 9*/
.footer {
  width: 100%;
  height: 728px;
  position: relative;
}
.bg_blue {
  width: 100%;
  height: 639px;
  margin-top: 47px;
  background-color: var(--main-color);
}
.bg_blue p {
  margin: 0;
  width: 751px;
  height: 61px;
  position: relative;
  top: 158px;
  left: 150px;
  font-family: var(--main-font-family), sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 2px;
  text-align: left;
  color: var(--secondary-color);
}
.watch-button {
  width: 230px;
  height: 60px;
  position: absolute;
  top: 17px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--main-color);
  border-radius: var(--secondary-border-radius);
}
.di_gi1 img {
  width: 83px;
  height: 55px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.social {
  width: calc(100% - 300px);
  height: 63px;
  position: absolute;
  top: 356px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  background-color: var(--main-color);
}
.facebook, .google, .twitter, .mail {
  flex: 1;
  height: 63px;
  border-top: 1px solid var(--border-color-light);
  border-bottom: 1px solid var(--border-color-light);
  display: flex;
  justify-content: center;
  align-items: center;
}
.facebook, .google, .twitter {
  border-right: 1px solid var(--border-color-light);
}
.social img {
  cursor: pointer;
}
.widgets {
  width: calc(100% - 300px);
  height: 117px;
  position: absolute;
  top: 489px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  background-color: var(--main-color);
}
.contact, .address, .help, .menu {
  flex: 1;
  height: 117px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.widgets h2 {
  font-family: var(--secondary-font-family), sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 2px;
  color: var(--tertiary-color);
}
.widgets p {
  margin: 7px 0;
  font-family: var(--main-font-family), sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: var(--secondary-color);
}
.widgets a {
  color: var(--secondary-color);
  text-decoration: none;
}
.widgets a:hover {
  text-decoration: underline;
}
.bg_back {
  width: 100%;
  height: 42px;
  margin-bottom: 0;
  background-color: var(--tertiary-color);
}
.back_to_top {
  width: 99px;
  height: 28px;
  position: relative;
  top: 7px;
  left: 1185px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.back_to_top_text {
  margin: 1px 0 0 0;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: 2px;
  line-height: 19px;
  font-family: var(--secondary-font-family), sans-serif;
  color: var(--graphite-color);
}
.back_to_top_icon img {
  width: 20px;
  height: 11px;
}

@media only screen and (max-width: 1439px) {
  .footer {
    height: 720px;
  }
  .bg_blue {
    height: 632px;
    margin-top: 46px;
  }
  .bg_blue p {
    width: 758px;
    height: 64px;
    position: relative;
    left: 43px;
    font-size: 36px;
  }
  .watch-button {
    top: 16px;
  }
  .social {
    width: calc(100% - 86px);
    position: absolute;
    top: 346px;
  }
  .widgets {
    width: calc(100% - 86px);
    position: absolute;
    top: 460px;
  }
  .widgets h2 {
    font-size: 18px;
    line-height: 21px;
  }
  .widgets p {
    font-size: 16px;
  }
  .back_to_top {
    left: calc(100% - 120px);
  }
}

@media only screen and (max-width: 1023px) {
  .bg_blue p {
    width: 690px;
    height: 66px;
    position: relative;
    top: 120px;
    left: 45px;
    font-size: 32px;
  }
  .social {
    width: calc(100% - 90px);
    position: absolute;
    top: 266px;
  }
  .widgets {
    width: calc(100% - 90px);
    position: absolute;
    top: 390px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .back_to_top {
    left: calc(100% - 120px);
  }
}

@media only screen and (max-width: 767px) {
  .bg_blue p {
    width: 547px;
    height: 64px;
    position: relative;
    top: 100px;
    left: 53px;
    font-size: 24px;
    line-height: 26px;
  }
  .social {
    width: calc(100% - 106px);
    position: absolute;
    top: 234px;
  }
  .widgets {
    width: calc(100% - 106px);
    position: absolute;
    top: 340px;
  }
  .address, .menu {
    margin-left: 22%;
  }
  .back_to_top {
    left: calc(100% - 120px);
  }
}

@media only screen and (max-width: 639px) {
  .footer {
    height: 1141px;
  }
  .bg_blue {
    height: 954px;
    margin-top: 45px;
  }
  .bg_blue p {
    width: 274px;
    height: 64px;
    position: relative;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 20px;
    line-height: 22px;
  }
  .watch-button {
    top: 15px;
  }
  .social {
    position: absolute;
    top: 257px;
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
  }
  .facebook, .google, .twitter, .mail {
    margin: 7px 0;
    border-top: none;
    border-bottom: none;
  }
  .facebook, .google, .twitter {
    border-right: none;
  }
  .widgets {
    width: 280px;
    position: absolute;
    top: 420px;
    display: flex;
    flex-direction: column;
  }
  .contact, .address, .help, .menu {
    margin: 10px 0;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .bg_back {
    height: 142px;
    margin-bottom: 0;
  }
  .back_to_top {
    width: 280px;
    height: 24px;
    top: 56px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .back_to_top_text {
    margin: 35px 0 0 0;
  }
  .back_to_top_icon img {
    margin: 20px 0;
  }
}
