:root {
  --main-color: rgba(43, 64, 116, 1); /* blue */
  --secondary-color: rgba(255, 255, 255, 1); /* white */
  --main-font-family: Roboto;
  --secondary-font-family: Roboto Condensed;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container {
  width: 1440px;
  height: 4962px;
  margin: 0 auto;
  position: relative;
  background-color: var(--secondary-color);
}
hr {
  margin: 0;
  border: none;
  width: 100px;
  height: 8px;
  position: relative;
}
.button {
  width: 200px;
  height: 50px;
  display: inline-block;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: var(--main-font-family), sans-serif;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase
}

/* TODO Block 1*/
.header {
  width: 100%;
  height: 100px;
  background-color: var(--main-color);
}
.di_gi img {
  position: relative;
  top: 17px;
  left: 153px;
}
.menu_button {
  width: 40px;
  height: 40px;
  border-radius: 3px;
  background-color: var(--secondary-color);
  position: absolute;
  top: 30px;
  right: 135px;
  cursor: pointer;
}
.menu_button img {
  width: 13px;
  height: 14px;
  position: absolute;
  top: 14px;
  left: 13px;
}

@media only screen and (max-width: 1439px) {
  .di_gi img {
    left: 46px;
  }
  .container {
    width: 100%;
  }
  .menu_button {
    right: 42px;
  }
}

@media only screen and (max-width: 639px) {
  .header {
    height: 80px;
  }
  .di_gi img {
    left: 25px;
    top: 7px;
  }
  .container {
    width: 100%;
  }
  .menu_button {
    top: 20px;
    right: 20px;
  }
}

/* TODO Block 2*/
.intro {
  width: 100%;
  height: 668px;
  position: absolute;
  background-image: url("../images/bg-img.jpg");
  background-size: cover;
  background-position: center;
}
.intro img {
  position: absolute;
}
.grey {
  width: 100%;
  height: 100%;
}
.title-text {
  position: relative;
  top: 107px;
  text-align: center;
  font-family: var(--secondary-font-family), sans-serif;
}
.title-text h1 {
  margin: 0;
  font-size: 96px;
  font-weight: 400;
  line-height: 96px;
  letter-spacing: 2px;
  color: var(--secondary-color);
  text-transform: uppercase
}
.title-text p {
  margin: 30px 0 200px 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  color: var(--secondary-color);
}
.intro hr {
  opacity: 0;
}
.button--more_detail {
  background-color: rgba(43, 64, 116, 1);
  position: absolute;
  top: 305px;
  left: 50%;
  transform: translateX(-50%);
  color: rgba(249, 246, 229, 1);
  font-weight: 400;
}
.button--more_detail:hover {
  background-color: rgba(23, 44, 96, 1);
}
.roundabout {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  position: relative;
}
.roundabout_left {
  z-index: 20;
  transition: background-color 0.3s ease;
  cursor: pointer;
  border: none;
  right: 0;
  width: 70px;
  height: 70px;
  position: absolute;
  background-color: rgba(43, 64, 116, 1);
  top: -164px;
}
.roundabout .roundabout_left img {
  margin: 0 0 0 -10px;
  width: auto;
  height: auto;
  left: 50%;
  transform: translateY(-50%);
}
.roundabout_left:hover {
  background-color: rgba(23, 44, 96, 1);
}
.roundabout_right {
  z-index: 20;
  transition: background-color 0.3s ease;
  cursor: pointer;
  border: none;
  right: 0;
  width: 70px;
  height: 70px;
  position: absolute;
  background-color: rgba(249, 246, 229, 1);
  top: -234px;
}
.roundabout_right img {
  margin: 0 0 0 -6px;
  width: auto;
  height: auto;
  left: 50%;
  transform: translateY(-50%);
}
.roundabout_right:hover {
  background-color: rgba(219, 216, 199, 1);
}
.pagination_one {
  width: 50px;
  height: 10px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 578px;
  left: 50%;
  transform: translateX(-50%);
}
.pagination_one .circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}
.pagination_one .circle.active {
  background-color: transparent;
  border: 1px solid var(--secondary-color);
}

@media only screen and (max-width: 1439px) {
  .intro {
    height: 618px;
  }
  .title-text h1 {
    font-size: 84px;
    line-height: 84px;
  }
  .title-text p {
    font-size: 18px;
    line-height: 20px;
  }
  .button--more_detail {
    top: 260px;
  }
  .roundabout_left {
    width: 56px;
    height: 56px;
    top: -153px;
  }
  .roundabout_right {
    width: 56px;
    height: 56px;
    top: -209px;
  }
  .roundabout_left img {
    margin: 0 0 0 -10px;
    width: auto;
    height: auto;
  }
  .roundabout_right img {
    margin: 0 0 0 -6px;
    width: auto;
    height: auto;
  }
  .pagination_one {
    top: 528px;
  }
  .circle {
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
  }
  .circle.active {
    border: 1px solid rgba(71, 110, 77, 1);
  }
}

@media only screen and (max-width: 1023px) {
  .intro {
    height: 465px;
  }
  .title-text {
    top: 87px;
  }
  .title-text h1 {
    font-size: 60px;
    line-height: 60px;
    letter-spacing: 0;
  }
  .title-text p {
    font-size: 18px;
    line-height: 20px;
  }
  .button--more_detail {
    top: 220px;
  }
  .roundabout_left {
    top: -163px;
  }
  .roundabout_right {
    top: -219px;
  }
  .roundabout_left img {
    margin: 0 0 0 -10px;
    width: auto;
    height: auto;
  }
  .roundabout_right img {
    margin: 0 0 0 -6px;
    width: auto;
    height: auto;
  }
  .pagination_one {
    top: 403px;
  }
}

@media only screen and (max-width: 767px) {
  .intro {
    width: 100%;
    height: 386px;
  }
  .title-text {
    top: 50px;
  }
  .title-text h1 {
    margin: 0 0 200px 0;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: 0;
  }
  .title-text p {
    display: none;
  }
  .intro hr {
    margin: 0;
    position: absolute;
    width: 61px;
    background-color: rgba(74, 74, 74, 1);
    left: 50%;
    transform: translateX(-50%);
    top: 125px;
    opacity: 1;
  }
  .button--more_detail {
    top: 165px;
  }
  .roundabout_left {
    top: -134px;
  }
  .roundabout_right {
    top: -190px;
  }
  .roundabout_left img {
    margin: 0 0 0 -10px;
    width: auto;
    height: auto;
  }
  .roundabout_right img {
    margin: 0 0 0 -6px;
    width: auto;
    height: auto;
  }
  .pagination_one {
    top: 326px;
  }
}

@media only screen and (max-width: 639px) {
  .intro {
    height: 193px;
  }
  .title-text {
    top: 36px;
  }
  .title-text h1 {
    margin: 0 0 100px 0;
    font-size: 28px;
    line-height: 28px;
    letter-spacing: 0;
  }
  .title-text p {
    display: none;
  }
  .intro hr {
    width: 61px;
    background-color: rgba(74, 74, 74, 1);
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    top: 70px;
    opacity: 1;
  }
  .button--more_detail {
    display: none;
  }
  .roundabout {
    display: none;
  }
  .pagination_one {
    top: 163px;
  }
}

/* TODO Block 3*/
.promo {
  width: 100%;
  height: 192px;
  position: absolute;
  top: 768px;
  background-color: rgba(43, 64, 116, 1);
}
.text {
  position: absolute;
  top: 57px;
  left: 150px;
  text-align: left;
  color: var(--secondary-color);
}
.text h2 {
  margin: 0;
  font-family: var(--main-font-family), sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}
.text p {
  font-family: Dosis,sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 18px;
}
.button--call_back {
  background-color: rgba(249, 246, 229, 1);
  color: rgba(43, 64, 116, 1);
  padding: 0;
  font-weight: 500;
  font-size: 18px;
  position: absolute;
  top: 71px;
  right: 135px;
}
.button--call_back:hover {
  background-color: rgba(219, 216, 199, 1);
}

@media only screen and (max-width: 1439px) {
  .promo {
    height: 160px;
    top: 718px;
  }
  .text {
    top: 40px;
    left: 46px;
  }
  .text h2 {
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
  }
  .text p {
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
  }
  .button--call_back {
    top: 55px;
    right: 42px;
  }
}

@media only screen and (max-width: 1023px) {
  .promo {
    height: 187px;
    top: 565px;
  }
  .text {
    top: 60px;
    left: 46px;
  }
  .text h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
  }
  .text p {
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
  }
  .button--call_back {
    top: 69px;
    right: 42px;
  }
}

@media only screen and (max-width: 767px) {
  .promo {
    height: 254px;
    top: 486px;
  }
  .text {
    width: 580px;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  .text h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
  }
  .text p {
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
  }
  .button--call_back {
    top: 164px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media only screen and (max-width: 639px) {
  .promo {
    height: 301px;
    top: 273px;
  }
  .text {
    width: 260px;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
  }
  .text h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
  }
  .text p {
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
  }
  .button--call_back {
    top: 211px;
    left: 50%;
    transform: translateX(-50%);
  }
}

/* TODO Block 4*/
.services {
  width: 100%;
  height: 547px;
  position: absolute;
  top: 960px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 480px repeat(4, 1fr);
  background-color: var(--secondary-color);
}
.service {
  grid-row: 1 / span 2;
  grid-column: 1;
  position: relative;
  border-right: 1px solid rgba(249, 246, 229, 1);
  text-align: left;
}
.service h1 {
  position: absolute;
  top: 90px;
  left: 62px;
  margin: 0;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  font-family: var(--secondary-font-family), sans-serif;
  color: rgba(43, 64, 116, 1);
}
.service h2 {
  width: 393px;
  height: 60px;
  position: absolute;
  top: 210px;
  left: 62px;
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  font-family: var(--main-font-family), sans-serif;
  color: rgba(74, 74, 74, 1);
}
.service hr {
  background-color: rgba(43, 64, 116, 1);
  position: absolute;
  top: 301px;
  left: 62px;
}
.service p {
  width: 351px;
  height: 68px;
  position: absolute;
  top: 344px;
  left: 62px;
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  font-family: var(--main-font-family), sans-serif;
  color: rgba(121, 121, 121, 1);
}
.items {
  display: flex;
  justify-content: center;
  text-align: center;
}
.items h1 {
  font-family: var(--secondary-font-family), sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 2px;
  color: rgba(74, 74, 74, 1);
  transition: transform 0.3s ease;
  position: absolute;
  top: 160px;
}
.items img {
  transition: transform 0.3s ease;
  position: absolute;
  top: 79px;
}
.strategy,
.analytics,
.social_media {
  border-right: 1px solid rgba(249, 246, 229, 1);
  border-bottom: 1px solid rgba(249, 246, 229, 1);
  position: relative;
}
.development {
  border-right: 1px solid rgba(249, 246, 229, 1);
  border-bottom: 1px solid rgba(249, 246, 229, 1);
  position: relative;
}
.content_production,
.design,
.digital_advertising {
  border-right: 1px solid rgba(249, 246, 229, 1);
  position: relative;
}
.products {
  border-right: 1px solid rgba(249, 246, 229, 1);
  position: relative;
}
.description {
  position: absolute;
  top: 134px;
  font-family: var(--main-font-family), sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  color: rgba(155, 155, 155, 1);
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.3s ease;
}
.more_detail {
  position: absolute;
  top: 200px;
  font-family: var(--secondary-font-family), sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 2px;
  text-align: center;
  color: rgba(43, 64, 116, 1);
  text-decoration: none;
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.3s ease;
}
.items:hover img, .items:hover h1 {
  transform: translateY(-40px);
}
.items:hover {
  outline: 4px solid rgba(43, 64, 116, 1);
  outline-offset: -15px; /
}
.items:hover .description,
.items:hover .more_detail {
  opacity: 1;
}

@media only screen and (max-width: 1439px) {
  .services {
    height: 912px;
    top: 878px;
    grid-template-rows: 362px repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
  }
  .service {
    grid-row: 1;
    grid-column: 1 / span 4;
    border-bottom: 1px solid rgba(249, 246, 229, 1);
    border-right: none;
  }
  .service h1 {
    top: 52px;
    left: 50%;
    transform: translateX(-50%);
  }
  .service h2 {
    width: 856px;
    height: 30px;
    top: 162px;
    left: 46px;
  }
  .service hr {
    top: 233px;
    left: 46px;
  }
  .service p {
    width: 510px;
    height: 55px;
    top: 275px;
    left: 46px;
  }
  .development {
    border-right: none;
    position: relative;
  }
  .products {
    border-right: none;
    position: relative;
  }
}

@media only screen and (max-width: 1023px) {
  .services {
    height: 1655px;
    top: 752px;
    grid-template-rows: 306px repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
  .service {
    grid-row: 1;
    grid-column: 1 / span 2;
    border-bottom: 1px solid rgba(249, 246, 229, 1);
    border-right: none;
  }
  .service h1 {
    top: 42px;
    left: 50%;
    transform: translateX(-50%);
  }
  .service h2 {
    width: 689px;
    height: 27px;
    top: 132px;
    left: 46px;
  }
  .service hr {
    top: 191px;
    left: 46px;
  }
  .service p {
    height: 48px;
    top: 231px;
    left: 46px;
  }
  .strategy,
  .social_media,
  .content_production,
  .digital_advertising {
    border-right: 1px solid rgba(249, 246, 229, 1);
    border-top: 1px solid rgba(249, 246, 229, 1);
  }
  .analytics,
  .development,
  .design,
  .products {
    border-top: 1px solid rgba(249, 246, 229, 1);
    border-right: none;
  }
  .items h1 {
    top:193px;
  }
  .items img {
    top: 112px;
  }
  .description {
    width: 400px;
    top: 164px;
  }
  .more_detail {
    top: 240px;
  }
  .items:hover img, .items:hover h1 {
    transform: translateY(-50px);
  }
}

@media only screen and (max-width: 767px) {
  .services {
    height: 1551px;
    top: 740px;
  }
  .service h1 {
    top: 18px;
  }
  .service h2 {
    width: 559px;
    height: 60px;
    top: 100px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
  }
  .service hr {
    top: 182px;
    left: 50%;
    transform: translateX(-50%);
  }
  .service p {
    top: 222px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
  }
  .items h1 {
    top:179px;
  }
  .items img {
    top: 98px;
  }
  .description {
    width: 300px;
    top: 148px;
  }
  .more_detail {
    top: 226px;
  }
}

@media only screen and (max-width: 639px) {
  .services {
    height: 2799px;
    top: 574px;
    display: grid;
    grid-template-rows: 311px repeat(8, 1fr);
    grid-template-columns: calc(100% - 40px);
    justify-content: center;
  }
  .service {
    grid-row: 1;
    grid-column: 1 / span 1;
  }
  .service h1 {
    top: 25px;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
  }
  .service h2 {
    width: 280px;
    height: 62px;
    top: 130px;
    font-size: 20px;
    line-height: 24px;
  }
  .service hr {
    top: 76px;
  }
  .service p {
    width: 280px;
    height: 72px;
    top: 220px;
    font-size: 15px;
    line-height: 17px;
  }
  .strategy,
  .analytics,
  .social_media,
  .development,
  .content_production,
  .design,
  .digital_advertising,
  .products {
    border-left: 1px solid rgba(249, 246, 229, 1);
  }
  .products {
    border-bottom: 1px solid rgba(249, 246, 229, 1);
  }
  .analytics,
  .development,
  .design,
  .products {
    border-right: 1px solid rgba(249, 246, 229, 1);
  }
}

/* TODO Block 5*/
.recent_work {
  width: 100%;
  height: 618px;
  background: linear-gradient(180deg, #2B4074 0%, rgba(43, 64, 116, 0) 100%);
  position: absolute;
  top: 1507px;
}
.recent_work_title h1 {
  margin: 0;
  font-family: var(--secondary-font-family), sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  text-transform: capitalize;
  text-align: center;
  color: var(--secondary-color);
  position: relative;
  top: 80px;
}
.recent_work_title hr {
  margin: 0 auto;
  background-color: var(--secondary-color);
  position: relative;
  top: 106px;
}
.content {
  display: grid;
  grid-template-columns: repeat(4, 292px);
  justify-content: center;
}
.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.lorem_ipsum,
.simply_dummy,
.printing,
.standard_dummy {
  margin: 0 12px;
  position: relative;
  top: 184px;
}
.lorem_ipsum img,
.simply_dummy img,
.printing img,
.standard_dummy img {
  border-radius: 4px;
}
.title-1, .title-2, .title-3, .title-4 {
  width: 268px;
  text-align: center;
  position: absolute;
  top: 258px;
}
.title-1 h1, .title-2 h1, .title-3 h1, .title-4 h1 {
  color: rgba(43, 64, 116, 1);
  font-family: var(--secondary-font-family), sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 2px;
}
.invisible_objects-1,
.invisible_objects-2,
.invisible_objects-3,
.invisible_objects-4 {
  opacity: 0;
  transition: all 0.3s ease;
}
.info-bg {
  border-radius: 4px;
  margin: 0 12px;
  position: absolute;
  top: 12px;
}
.icons {
  position: relative;
  top: -135px;
}
.icons img {
  margin: 0 8px;
  cursor: pointer;
}
.lorem_ipsum:hover .invisible_objects-1,
.simply_dummy:hover .invisible_objects-2,
.printing:hover .invisible_objects-3,
.standard_dummy:hover .invisible_objects-4 {
  opacity: 1;
}

@media only screen and (max-width: 1439px) {
  .recent_work {
    height: 1033px;
    top: 1790px;
  }
  .content {
    grid-template-rows: repeat(2, 361px);
    grid-template-columns: repeat(2, 342px);
  }
  .lorem_ipsum img,
  .simply_dummy img,
  .printing img,
  .standard_dummy img {
    width: 318px;
    height: 283px;
  }
  .title-1, .title-2, .title-3, .title-4 {
    top: 300px;
    width: 318px;
  }
  .invisible_objects-1 img,
  .invisible_objects-2 img,
  .invisible_objects-3 img,
  .invisible_objects-4 img {
    width: 294px;
    height: 259px;
  }
  .icons img {
    height: auto;
    width: auto;
  }
  .icons {
    top: -158px;
  }
}

@media only screen and (max-width: 1023px) {
  .recent_work {
    height: 1033px;
    top: 2407px;
  }
  .title-1 h1, .title-2 h1, .title-3 h1, .title-4 h1 {
    font-size: 20px;
    line-height: 23px;
  }
  .title-1, .title-2, .title-3, .title-4 {
    top: 295px;
  }
}

@media only screen and (max-width: 767px) {
  .recent_work {
    height: 2288px;
    top: 2291px;
  }
  .recent_work_title h1 {
    top: 40px;
  }
  .recent_work_title hr {
    top: 69px;
  }
  .content {
    grid-template-rows: repeat(4, 532px);
    grid-template-columns: 518px;
  }
  .lorem_ipsum,
  .simply_dummy,
  .printing,
  .standard_dummy {
    margin: 0;
    top: 121px;
  }
  .lorem_ipsum img,
  .simply_dummy img,
  .printing img,
  .standard_dummy img {
    width: 518px;
    height: 460px;
  }
  .title-1, .title-2, .title-3, .title-4 {
    top: 470px;
    width: 318px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .invisible_objects-1 img,
  .invisible_objects-2 img,
  .invisible_objects-3 img,
  .invisible_objects-4 img {
    width: 486px;
    height: 428px;
  }
  .info-bg {
    position: absolute;
    top: 16px;
  }
  .invisible_objects-1,
  .invisible_objects-2,
  .invisible_objects-3,
  .invisible_objects-4 {
    display: flex;
    justify-content: center;
  }
  .icons img {
    margin: 0 14px;
    height: 54px;
    width: 54px;
  }
  .icons {
    top: -255px;
  }
}

@media only screen and (max-width: 639px) {
  .recent_work {
    height: 1384px;
    top: 3413px;
  }
  .recent_work_title h1 {
    font-size: 24px;
    line-height: 28px;
    top: 25px;
  }
  .recent_work_title hr {
    width: 50px;
    height: 8px;
    top: 49px;
  }
  .content {
    grid-template-rows: repeat(4, 310px);
    grid-template-columns: 280px;
  }
  .lorem_ipsum,
  .simply_dummy,
  .printing,
  .standard_dummy {
    margin: 0;
    top: 90px;
  }
  .lorem_ipsum img,
  .simply_dummy img,
  .printing img,
  .standard_dummy img {
    width: 280px;
    height: 250px;
  }
  .title-1, .title-2, .title-3, .title-4 {
    top: 255px;
    width: 318px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .invisible_objects-1 img,
  .invisible_objects-2 img,
  .invisible_objects-3 img,
  .invisible_objects-4 img {
    width: 254px;
    height: 224px;
  }
  .info-bg {
    position: absolute;
    top: 13px;
  }
  .invisible_objects-1,
  .invisible_objects-2,
  .invisible_objects-3,
  .invisible_objects-4 {
    display: flex;
    justify-content: center;
  }
  .icons img {
    margin: 0 8px;
    height: auto;
    width: auto;
  }
  .icons {
    top: -140px;
  }
}

/* TODO Block 6*/
.video_block {
  width: 100%;
  height: 580px;
  background-color: var(--secondary-color);
  position: absolute;
  top: 2125px;
  display: grid;
  grid-template-columns: 40% 60%;
}
.foto_section, .text-section {
  transform: translateY(60px);
  height: 420px;
}
.foto_section img {
  border-radius: 4px;
  transform: translateX(150px);
  bottom: 0;
}
.text-section h1 {
  position: absolute;
  left: 130px;
  margin: 0;
  font-family: var(--secondary-font-family), sans-serif;
  color: rgba(74, 74, 74, 1);
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
}
.text-section hr {
  background-color: rgba(43, 64, 116, 1);
  position: absolute;
  top: 82px;
  left: 130px;
}
.text-section p {
  width: 500px;
  position: absolute;
  left: 130px;
  top: 110px;
  font-family: var(--main-font-family), sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(155, 155, 155, 1);
}
.button--watch_video {
  background-color: rgba(43, 64, 116, 1);
  color: rgba(249, 246, 229, 1);
  padding: 0;
  font-weight: 500;
  width: 230px;
  height: 60px;
  position: absolute;
  left: 130px;
  bottom: 0;
}
.button--watch_video:hover {
  background-color: rgba(23, 44, 96, 1);
}

@media only screen and (max-width: 1439px) {
  .video_block {
    height: 540px;
    top: 2823px;
    grid-template-columns: 45% 55%;
  }
  .foto_section, .text-section {
    transform: translateY(80px);
    height: 380px;
  }
  .foto_section img {
    width: 400px;
    height: 380px;
    position: absolute;
    right: 170px;
  }
  .text-section h1 {
    left: 40px;
  }
  .text-section hr {
    top: 70px;
    left: 40px;
  }
  .text-section p {
    left: 40px;
    top: 80px;
  }
  .button--watch_video {
    left: 40px;
    bottom: 8px;
  }
}

@media only screen and (max-width: 1023px) {
  .video_block {
    height: 479px;
    top: 3439px;
    grid-template-columns: 30% 70%;
  }
  .foto_section, .text-section {
    transform: translateY(40px);
    height: 431px;
  }
  .foto_section img {
    width: 240px;
    height: 227px;
    position: absolute;
    right: 70px;
    top: 0;
  }
  .text-section h1 {
    left: 120px;
  }
  .text-section hr {
    top: 70px;
    left: 120px;
  }
  .text-section p {
    font-size: 16px;
    width: 410px;
    left: 120px;
    top: 80px;
  }
  .button--watch_video {
    left: 48px;
    bottom: 8px;
    top: 330px
  }
}

@media only screen and (max-width: 767px) {
  .video_block {
    height: 1007px;
    top: 4579px;
    display: flex;
    flex-direction: column;
  }
  .foto_section, .text-section {
    transform: translateY(40px);
  }
  .foto_section img {
    width: 518px;
    height: 490px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    right: 0;
    top: 0;
  }
  .text-section h1 {
    left: 50%;
    transform: translateX(-50%);
    top: 90px;
  }
  .text-section hr {
    left: 50%;
    transform: translateX(-50%);
    top: 160px;
  }
  .text-section p {
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 16px;
    line-height: 18px;
    width: 460px;
    top: 190px;
  }
  .button--watch_video {
    left: 50%;
    transform: translateX(-50%);
    top: 420px;
  }
}

@media only screen and (max-width: 639px) {
  .video_block {
    height: 844px;
    top: 4796px;
    display: flex;
    flex-direction: column;
  }
  .foto_section, .text-section {
    transform: translateY(17px);
  }
  .foto_section img {
    width: 280px;
    height: 250px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .text-section h1 {
    left: 50%;
    transform: translateX(-50%);
    top: -140px;
  }
  .text-section hr {
    width: 45px;
    left: 50%;
    transform: translateX(-50%);
    top: -60px;
  }
  .text-section p {
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 16px;
    line-height: 18px;
    width: 270px;
    top: -20px;
  }
  .button--watch_video {
    left: 50%;
    transform: translateX(-50%);
    top: 300px;
  }
}

/* TODO Block 7*/
.latest_news {
  width: 100%;
  height: 1044px;
  background-color: rgba(249, 246, 229, 1);
  position: absolute;
  top: 2705px;
}
.latest_news_title h1 {
  font-family: var(--secondary-font-family), sans-serif;
  color: rgba(74, 74, 74, 1);
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  text-align: center;
  text-transform: capitalize;
  margin: 0;
  transform: translateY(52px);
}
.latest_news_title hr {
  margin: 0 auto;
  background-color: rgba(43, 64, 116, 1);
  position: relative;
  top: 75px;
}
.latest_news_content {
  position: relative;
  top: 165px;
  display: grid;
  grid-template-rows: repeat(2, 385px);
  grid-template-columns: repeat(4, 298px);
  justify-content: center;
}
.branding_3d, .contextual_advertising, .graphics, .corporate_culture,
.unique_design, .onlooking, .social_networks, .exclusivity {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.news-1, .news-2, .news-3, .news-4, .news-5, .news-6, .news-7, .news-8 {
  position: relative;
  display: inline-block;
}
.news-5 {
  position: absolute;
  top: 460px;
}
.news-6 {
  position: absolute;
  top: 370px;
}
.news-7 {
  position: absolute;
  top: 414px;
}
.news-8 {
  position: absolute;
  top: 254px;
}
.news-1 img, .news-2 img, .news-3 img, .news-4 img,
.news-5 img, .news-6 img, .news-7 img, .news-8 img {
  display: block;
  width: 270px;
  height: auto;
  border-radius: 4px;
}
.news-1::before,
.news-2::before,
.news-3::before,
.news-4::before,
.news-5::before,
.news-6::before,
.news-7::before,
.news-8::before {
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: var(--secondary-font-family), sans-serif;
  width: 100%;
  background-color: var(--secondary-color);
  color: rgba(74, 74, 74, 1);
  text-align: center;
  padding: 10px 0;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  z-index: 1;
  transition: all 0.3s ease;
  border-radius: 0 0 4px 4px;
}
.news-1::before {
  content: "3Д в брендингу";
}
.news-2::before {
  content: "Контекстна реклама";
}
.news-3::before {
  content: "Графіка";
}
.news-4::before {
  content: "Корпоративна культура";
}
.news-5::before {
  content: "Унікальний дизайн";
}
.news-6::before {
  content: "Погляд зі сторони";
}
.news-7::before {
  content: "Соц мережі та їх користь";
}
.news-8::before {
  content: "Ексклюзивність";
}
.news-1:hover::before,
.news-2:hover::before,
.news-3:hover::before,
.news-4:hover::before,
.news-5:hover::before,
.news-6:hover::before,
.news-7:hover::before,
.news-8:hover::before {
  bottom: 30px;
  background-color: rgba(43, 64, 116, 1);
  color: var(--secondary-color);  
}
.news-1:hover, .news-2:hover, .news-3:hover, .news-4:hover,
.news-5:hover, .news-6:hover, .news-7:hover, .news-8:hover {
  outline: 10px solid rgba(43, 64, 116, 1);
  outline-offset: -10px;
  border-radius: 0 0 4px 4px;
}
.icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  cursor: pointer;
  transition: all 0.3s ease;
}
.icon img {
  cursor: pointer;
  width: 100%;
}
.news-1:hover .icon,
.news-2:hover .icon,
.news-3:hover .icon,
.news-4:hover .icon,
.news-5:hover .icon,
.news-6:hover .icon,
.news-7:hover .icon,
.news-8:hover .icon {
  opacity: 1;
}

@media only screen and (max-width: 1439px) {
  .latest_news {
    height: 1368px;
    top: 3363px;
  }
  .latest_news_title h1 {
    transform: translateY(65px);
  }
  .latest_news_title hr {
    top: 93px;
  }
  .latest_news_content {
    top: 178px;
    display: grid;
    grid-template-rows: repeat(3, 346px);
    grid-template-columns: repeat(3, 326px);
  }
  .news-1::before,
  .news-2::before,
  .news-3::before,
  .news-4::before,
  .news-5::before,
  .news-6::before,
  .news-7::before,
  .news-8::before {
    font-size: 18px;
  }
  .news-4 {
    position: absolute;
    top: 460px;
  }
  .news-5 {
    position: absolute;
    top: 372px;
  }
  .news-6 {
    position: absolute;
    top: 418px;
  }
  .news-7 {
    position: absolute;
    top: 716px;
  }
  .news-8 {
    position: absolute;
    top: 570px;
  }
}

@media only screen and (max-width: 1023px) {
  .latest_news {
    height: 1745px;
    top: 3918px;
  }
  .latest_news_title h1 {
    font-size: 36px;
    font-weight: 400;
    line-height: 38px;
    transform: translateY(45px);
  }
  .latest_news_title hr {
    top: 80px;
  }
  .latest_news_content {
    top: 150px;
    display: grid;
    grid-template-rows: repeat(5, 377px);
    grid-template-columns: repeat(2, 298px);
  }
  .news-1::before,
  .news-2::before,
  .news-3::before,
  .news-4::before,
  .news-5::before,
  .news-6::before,
  .news-7::before,
  .news-8::before {
    font-size: 18px;
  }
  .news-3 {
    position: absolute;
    top: 465px;
  }
  .news-4 {
    position: absolute;
    top: 375px;
  }
  .news-5 {
    position: absolute;
    top: 884px;
  }
  .news-6 {
    position: absolute;
    top: 635px;
  }
  .news-7 {
    position: absolute;
    top: 1085px;
  }
  .news-8 {
    position: absolute;
    top: 1010px;
  }
}

@media only screen and (max-width: 767px) {
  .latest_news {
    height: 1745px;
    top: 5587px;
  }
  .latest_news_title h1 {
    font-size: 48px;
    transform: translateY(50px);
  }
  .latest_news_title hr {
    top: 70px;
  }
  .latest_news_content {
    top: 140px;
  }
  .news-1::before,
  .news-2::before,
  .news-3::before,
  .news-4::before,
  .news-5::before,
  .news-6::before,
  .news-7::before,
  .news-8::before {
    font-size: 18px;
  }
}

@media only screen and (max-width: 639px) {
  .latest_news {
    height: 2896px;
    top: 5640px;
  }
  .latest_news_title h1 {
    font-size: 24px;
    transform: translateY(35px);
  }
  .latest_news_title hr {
    top: 55px;
    width: 50px;
  }
  .latest_news_content {
    top: 90px;
    display: grid;
    grid-template-rows: repeat(8, 347px);
    grid-template-columns: 270px;
  }
  .news-1::before,
  .news-2::before,
  .news-3::before,
  .news-4::before,
  .news-5::before,
  .news-6::before,
  .news-7::before,
  .news-8::before {
    font-size: 18px;
  }
  .news-2 {
    position: absolute;
    top: 452px;
  }
  .news-3 {
    position: absolute;
    top: 814px;
  }
  .news-4 {
    position: absolute;
    top: 1219px;
  }
  .news-5 {
    position: absolute;
    top: 1466px;
  }
  .news-6 {
    position: absolute;
    top: 1654px;
  }
  .news-7 {
    position: absolute;
    top: 2018px;
  }
  .news-8 {
    position: absolute;
    top: 2238px;
  }
}

/* TODO Block 8*/
.testimonial {
  width: 100%;
  height: 480px;
  position: absolute;
  top: 3748px;
  background-color: var(--secondary-color);
}
.quote_one, .quote_two, .quote_three {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.testimonial img {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}

.quote_one p, .quote_two p, .quote_three p {
  font-family: var(--secondary-font-family), sans-serif;
  color: rgba(74, 74, 74, 1);
  font-size: 36px;
  font-weight: 400;
  line-height: 42px;
  margin: 165px 0 0 0;
}
.highlight_world {
  font-weight: 700;
  color: rgba(43, 64, 116, 1);
}
.quote_one h3, .quote_two h3, .quote_three h3 {
  font-family: var(--secondary-font-family), sans-serif;
  color: rgba(74, 74, 74, 1);
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 2px;
  margin: 50px 0 0 0;
}
.pagination_two {
  width: 50px;
  height: 10px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 390px;
  left: 50%;
  transform: translateX(-50%);
}
.circle1 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgba(43, 64, 116, 1);
  border: 1px solid rgba(71, 110, 77, 1);
}
.circle1.active {
  background-color: transparent;
  border: 1px solid rgba(71, 110, 77, 1);
}

@media only screen and (max-width: 1439px) {
  .testimonial {
    top: 4731px;
  }
  .testimonial img {
    position: absolute;
    top: 100px;
  }
  .testimonial p {
    font-size: 32px;
    line-height: 37px;
    top: 144px;
  }
  .testimonial h3 {
    font-size: 20px;
    line-height: 28px;
    top: 282px;
  }
  .pagination_two {
    top: 390px;
  }
}

@media only screen and (max-width: 1023px) {
  .testimonial {
    height: 410px;
    top: 5663px;
  }
  .testimonial img {
    position: absolute;
    top: 60px;
  }
  .testimonial h3 {
    line-height: 23px;
    top: 292px;
  }
  .pagination_two {
    top: 360px;
  }
}

@media only screen and (max-width: 767px) {
  .testimonial {
    height: 410px;
    top: 7332px;
  }
  .testimonial img {
    position: absolute;
    top: 80px;
  }
  .testimonial h3 {
    top: 10px;
  }
  .testimonial p {
    font-size: 24px;
    line-height: 28px;
    width: 300px;
  }
  .pagination_two {
    top: 380px;
  }
}

@media only screen and (max-width: 639px) {
  .testimonial {
    height: 421px;
    top: 8536px;
  }
  .testimonial p {
    font-size: 24px;
    line-height: 28px;
    top: -30px;
    width: 300px;
  }
  .testimonial h3 {
    top: -5px;
  }
  .pagination_two {
    top: 412px;
  }
}

/* TODO Block 9*/
.footer {
  width: 100%;
  height: 728px;
  position: absolute;
  top: 4234px;
}
.bg_blue {
  width: 100%;
  height: 639px;
  position: absolute;
  top: 47px;
  background-color: rgba(43, 64, 116, 1);
}
.bg_blue p {
  margin: 0;
  width: 751px;
  height: 61px;
  position: relative;
  top: 158px;
  left: 150px;
  font-family: var(--main-font-family), sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 2px;
  text-align: left;
  color: var(--secondary-color);
}
.watch-button {
  width: 230px;
  height: 60px;
  position: absolute;
  top: 17px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(43, 64, 116, 1);
  border-radius: 3px;
}
.di_gi1 img {
  width: 83px;
  height: 55px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.social {
  width: calc(100% - 300px);
  height: 63px;
  position: absolute;
  top: 356px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  background-color: rgba(43, 64, 116, 1);
}
.facebook, .google, .twitter, .mail {
  flex: 1;
  height: 63px;
  border-top: 1px solid rgba(126, 191, 132, 1);
  border-bottom: 1px solid rgba(126, 191, 132, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.facebook, .google, .twitter {
  border-right: 1px solid rgba(126, 191, 132, 1);
}
.social img {
  cursor: pointer;
}
.widgets {
  width: calc(100% - 300px);
  height: 117px;
  position: absolute;
  top: 489px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  background-color: rgba(43, 64, 116, 1);
}
.contact, .address, .help, .menu {
  flex: 1;
  height: 117px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.widgets h1 {
  font-family: var(--secondary-font-family), sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 2px;
  color: rgba(249, 246, 229, 1);
}
.widgets p {
  margin: 7px 0;
  font-family: var(--main-font-family), sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: var(--secondary-color);
}
.widgets a {
  color: var(--secondary-color);
  text-decoration: none;
}
.widgets a:hover {
  text-decoration: underline;
}
.bg_back {
  width: 100%;
  height: 42px;
  position: absolute;
  top: 686px;
  background-color: rgba(249, 246, 229, 1);
}
.back_to_top {
  width: 99px;
  height: 28px;
  position: absolute;
  top: 7px;
  left: 1185px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.back_to_top_text {
  margin: 1px 0 0 0;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: 2px;
  line-height: 19px;
  font-family: var(--secondary-font-family), sans-serif;
  color: rgba(74, 74, 74, 1);
}
.back_to_top_icon img {
  width: 20px;
  height: 11px;
}

@media only screen and (max-width: 1439px) {
  .footer {
    height: 720px;
    top: 5216px;
  }
  .bg_blue {
    height: 632px;
    top: 46px;
  }
  .bg_blue p {
    width: 758px;
    height: 64px;
    position: relative;
    left: 43px;
    font-size: 36px;
  }
  .watch-button {
    top: 16px;
  }
  .social {
    width: calc(100% - 86px);
    position: absolute;
    top: 346px;
  }
  .widgets {
    width: calc(100% - 86px);
    position: absolute;
    top: 460px;
  }
  .widgets h1 {
    font-size: 18px;
    line-height: 21px;
  }
  .widgets p {
    font-size: 16px;
  }
  .bg_back {
    top: 678px;
  }
  .back_to_top {
    left: calc(100% - 120px);
  }
}

@media only screen and (max-width: 1023px) {
  .footer {
    top: 6073px;
  }
  .bg_blue p {
    width: 690px;
    height: 66px;
    position: relative;
    top: 120px;
    left: 45px;
    font-size: 32px;
  }
  .social {
    width: calc(100% - 90px);
    position: absolute;
    top: 266px;
  }
  .widgets {
    width: calc(100% - 90px);
    position: absolute;
    top: 390px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .bg_back {
    top: 678px;
  }
  .back_to_top {
    left: calc(100% - 120px);
  }
}

@media only screen and (max-width: 767px) {
  .footer {
    top: 7747px;
  }
  .bg_blue p {
    width: 547px;
    height: 64px;
    position: relative;
    top: 100px;
    left: 53px;
    font-size: 24px;
    line-height: 26px;
  }
  .social {
    width: calc(100% - 106px);
    position: absolute;
    top: 234px;
  }
  .widgets {
    width: calc(100% - 106px);
    position: absolute;
    top: 340px;
  }
  .bg_back {
    top: 678px;
  }
  .back_to_top {
    left: calc(100% - 120px);
  }
}

@media only screen and (max-width: 639px) {
  .footer {
    height: 1141px;
    top: 8997px;
  }
  .bg_blue {
    height: 954px;
    top: 45px;
  }
  .bg_blue p {
    width: 274px;
    height: 64px;
    position: relative;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 20px;
    line-height: 22px;
  }
  .watch-button {
    top: 15px;
  }
  .social {
    position: absolute;
    top: 257px;
    display: flex;
    flex-direction: column;
    background-color: rgba(43, 64, 116, 1);
  }
  .facebook, .google, .twitter, .mail {
    margin: 7px 0;
    border-top: none;
    border-bottom: none;
  }
  .facebook, .google, .twitter {
    border-right: none;
  }
  .widgets {
    width: 280px;
    position: absolute;
    top: 420px;
    display: flex;
    flex-direction: column;
  }
  .contact, .address, .help, .menu {
    margin: 10px 0;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .bg_back {
    height: 142px;
    top: 999px;
  }
  .back_to_top {
    width: 280px;
    height: 24px;
    top: 56px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .back_to_top_text {
    margin: 35px 0 0 0;
  }
  .back_to_top_icon img {
    margin: 20px 0;
  }
}
